<div class="footer">
  <div class="container" id="ftr">
      <div>
      <a href="#" class="links"><i class="fab fa-facebook"></i></a>
      <a href="#" class="links"><i class="fab fa-twitter-square"></i></a>
      <a href="#" class="links"><i class="fab fa-instagram"></i></i></a>

      <p>This Airb&me projet website was coded with <i id="heart" class="fas fa-heart"></i> by Team Alanej®.</p>
      </div>
    </div>
</div>
