

<%= render 'shared/search' %>

<div class="homeContainer">

<%= link_to "All Games", games_path %>

<h1 class="categTown">Choose your town</h1>
<div class="containerCards">
  
  <div class = "card" id="lyon">
     <div class="text-box-center">Lyon</div>
    </br >
    <div class="boxdown bluebg"></div>
  </div> 
 <div class = "card" id="grenoble">
     <div class="text-box-center">Grenoble</div>
    </br >
    <div class="boxdown greenbg"></div>
  </div> 

 <div class = "card" id="paris">
     <div class="text-box-center">Paris</div>
    </br >
    <div class="boxdown redbg"></div>
  </div>
  <div class = "card" id="nantes">
    
     <div class="text-box-center">Nantes</div>
    </br >
    <div class="boxdown goldbg"></div>
  
</div>
 

</div>

<h1>Category</h1>
<div class="containerCards">
  
  <div class = "card" id="plateau">
     <div class="text-box-center">Plateau</div>
    </br >
    <div class="boxdown yellowbg"></div>
  </div> 
<div class = "card" id="cartes">
     <div class="text-box-center">Cartes</div>
    </br >
    <div class="boxdown pinkbg"></div>
  </div> 

 <div class = "card" id="strategie">
     <div class="text-box-center">Stratégie</div>
    </br >
    <div class="boxdown violetbg"></div>
  </div>
  
    
</div>

</div>
