
<div class="black-home">
  <%= render 'shared/search' %>
  <div class="home-image"></div>
</div>

<div class="homeContainer">

<h1 class="categTown">Choose your town</h1>
<div class="containerCards">

  <div class = "card" id="lyon">
    <div class="text-box-center">Lyon</div>

    <a href="/games?city=lyon&date=&commit=Search" class="boxdown blue1bg">
    </a>

  </div>


  <div class = "card image-card" id="grenoble">
    <div class="text-box-center">Grenoble</div>

    <a href="/games?city=Grenoble&date=&commit=Search" class="boxdown blue2bg">
    </a>

  </div>

  <div class = "card" id="paris">
    <div class="text-box-center">Paris</div>

    <a href="/games?city=paris&date=&commit=Search" class="boxdown blue3bg">
    </a>

  </div>

  <div class = "card" id="nantes">
    <div class="text-box-center">Nantes</div>

    <a href="/games?city=nantes&date=&commit=Search" class="boxdown blue4bg">
    </a>
  </div>


</div>

<h1>Category</h1>
<div class="containerCards">

  <div class = "card" id="plateau">
    <div class="text-box-center">Plateau</div>
    <div class="boxdown orange1bg"></div>
  </div>
<div class = "card" id="cartes">
    <div class="text-box-center">Cartes</div>
    <div class="boxdown orange2bg"></div>
  </div>

 <div class = "card" id="strategie">
    <div class="text-box-center">Stratégie</div>
    <div class="boxdown orange3bg"></div>
  </div>


</div>

</div>
