

<%= render 'shared/search' %>

<div class="homeContainer">

<div class="home-image">
</div>


<h1 class="categTown">Choose your town</h1>
<div class="containerCards">

  <div class = "card" id="lyon">
     <div class="text-box-center">Lyon</div>
    <a href="/games?city=lyon&date=&commit=Search" class="boxdown bluebg">
    </a>
  </div>
  
  
 <div class = "card" id="grenoble">
     <div class="text-box-center">Grenoble</div>
    </br >
    
    <a href="/games?city=Grenoble&date=&commit=Search" class="boxdown greenbg">
    </a>
  </div>

 <div class = "card" id="paris">
     <div class="text-box-center">Paris</div>
    </br >
    
    <a href="/games?city=paris&date=&commit=Search" class="boxdown redbg">
    </a>
  </div>
  <div class = "card" id="nantes">

     <div class="text-box-center">Nantes</div>
    </br >
    
    <a href="/games?city=nantes&date=&commit=Search" class="boxdown goldbg">
    </a>
</div>


</div>

<h1>Category</h1>
<div class="containerCards">

  <div class = "card" id="plateau">
     <div class="text-box-center">Plateau</div>
    </br >
    <div class="boxdown yellowbg"></div>
  </div>
<div class = "card" id="cartes">
     <div class="text-box-center">Cartes</div>
    </br >
    <div class="boxdown pinkbg"></div>
  </div>

 <div class = "card" id="strategie">
     <div class="text-box-center">Stratégie</div>
    </br >
    <div class="boxdown violetbg"></div>
  </div>


</div>

</div>
