<h1>Reservations#new</h1>

<div class="form">
  <%= simple_form_for do |f| %>
    <%= f.input :address %>
    <%= f.input :date, as: :datepicker %>
    <%= f.button :submit %>
    </div>
  <% end %>
</div>
