<div class="form">
  <%= simple_form_for locales do |f| %>
    <%= f.input :date, input_html: { class: "datepicker"} %>
    <%= f.button :submit, 'Réserver ce jeu', class: "btn btn-submit" %>
    </div>
  <% end %>
</div>
