<div class="container">

  <h2>My reservations</h2>


  <div class="my-reservations">
    <% @my_reservations.each do |reservation| %>
      <div class="my-reservation">
        <p><%= reservation.game.name %></p>
        <p><%= reservation.date %></p>
        <p><%= reservation.game.price %>,00€</p>
      </div>
    <% end %>
  </div>
</div>
