$black:rgb(0, 0, 0);
$lime:#9bea25;
$blue:#2587ea;
$red:#ea2525;
$menthe:#25eaaf;
$pink:#ea2587;
$violet:#8825ea;
$gold:#ffe600;
$yellow:#ffa100;
.blackbg{
    background:$black;
}
.greenbg{
    background:#00786E;
  }
  .bluebg{
     background:#00DECB;
  }
  
  .redbg{
     background:#00B8A8;
  }
  .blueGreenbg{
    background:#003833;
  }
  .pinkbg{
    background:#CC2D4A;
  }
  .violetbg{
    background:#CC2D4A;
  }
  .goldbg{
      background: #43a89f;
  }
  .yellowbg{
      background: #a84f43;
  }