$black:rgb(0, 0, 0);
$lime:#9bea25;
$blue:#2587ea;
$red:#ea2525;
$menthe:#25eaaf;
$pink:#ea2587;
$violet:#8825ea;
$gold:#ffe600;
$yellow:#ffa100;

.blue1bg{
  background: #26c8bb;
}
.blue2bg{
  background:#00a092;
}
.blue3bg{
  background:#00DECB;
}
.blue4bg{
  background:#00B8A8;
}

.orange1bg{
  background:#bd6b00;
}
.orange2bg{
  background:#aa6000;
}
.orange3bg{
  background: #c87200;
}
