// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';
@import 'components/homebody';
@import 'components/';
@import 'components/backgroundcolors';
@import "components/homeCards";

.reviews-container {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 80%;
  margin: 0 auto;
}

body{
  position: relative;
  min-height: 100vh;
  margin: 0;
}

body::after {
  content: '';
  display: block;
  height: 200px; /* Set same as footer's height */
}
